.createForm {
  display: flex;
  justify-content: center;
}
.create-a-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.createSpot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lineCutter {
  border-bottom: 4px solid black;
  width: 100%;
  margin: 7px 0px 0px;
  border-radius: 10px;
}
label {
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0 0;
}
/* button > .spotButton {
  align-self: center;
  background-color: red;
  color: #fff;
  padding: 10px 0;
  width: 100px;
} */
