.LPImages {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.actualImages {
  height: 100px;
  width: 100px;
}
.houseInfo {
  display: flex;
  flex-direction: row;
}

.ratingInfo {
  display: flex;
  flex-direction: row;
}
