/* .rating {
  font-size: 0;
}
.rating span {
  font-size: 40px;
}
.rating span::before {
  content: "☆";
}
.rating span.active::before {
  className: "fa-solid fa-star";
}
.rating span:hover {
  cursor: pointer;
} */
