*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.navButton {
  height: 40px;
  width: 80px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid red;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logoutButton {
  height: 40px;
  width: 80px;
  position: relative;
  top: 1px;
  border: 1px solid transparent;
  background-color: rgb(81, 81, 81);
  color: white;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 3px 3px black;
}
.iconImg {
  height: 100%;
  width: auto;
  cursor: pointer;
}
.iconImg > span {
  text-decoration: none;
}

.navBar {
  display: flex;
  flex-direction: row;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  margin-left: 0;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navBar > ul {
  border: 2.5px solid red;
  border-radius: 50%;
  padding: 18px 18px;
  width: auto;
  height: auto;
  right: 0;
}
ul > li {
  list-style-type: none;
}
.profileButton {
  cursor: pointer;
  /* margin: 0 10px; */
  display: flex;
  /* flex-direction: row;
  height: 100%;
  width: auto; */
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px;
}

.dropdown {
  background-color: white;
  border: 1px solid grey;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  list-style-type: none;
  min-width: 150px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 70px;

  width: fit-content;
  z-index: 10;
}
.dropdownTwo {
  background-color: white;
  border: 1px solid grey;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  list-style-type: none;
  min-width: 150px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 1px;
  /* height: 100px; */
  width: 200px;
  z-index: 1;
}
.dropdownLi {
  width: 100%;
}
